<!DOCTYPE html>
<html>
<head>
    <title>AngularJS presentation</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-app="TodoApp" ng-controller="TodoCtrl" class="container">
<div class="jumbotron">
    Hello {{ user.name }}
</div>
<form class="row col-lg-4 form-inline" ng-submit="greet(user.name)">
    <div class="form-group">
        <input ng-model="user.name" placeholder="Type your nam here" class="form-control" ng-required="!allowEmptyName"/>
    </div>
    <button class="btn btn-primary">Greet</button>
    <div class="form-group">
        <input id="allowEmptyName" type="checkbox" ng-model="allowEmptyName"/>
        <label for="allowEmptyName">Allow empty name</label>
    </div>
</form>

<table class="table">
    <tr ng-repeat="user in users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
    </tr>
</table>

<div markdown>
#Some static markdown
</div>

<div markdown="markdownSource"></div>
<textarea ng-model="markdownSource"></textarea>

<script src="bower_components/angular/angular.js"></script>
<script src="vendor/showdown.js"></script>
<script src="app/TodoCtrl.js"></script>
<script src="app/UserDAO.js"></script>
<script src="app/markdown.js"></script>
</body>
</html>