<!DOCTYPE html>
<html>
<head>
    <title>AngularJS presentation</title>
</head>
<body ng-app="TodoApp" ng-controller="TodoCtrl">
<div>
    Hello {{ user.name }}
</div>
<input ng-model="user.name" placeholder="Type your nam here"/>
<button ng-click="greet(user.name)">Greet</button>

<table>
    <tr ng-repeat="user in users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
    </tr>
</table>

<script src="bower_components/angular/angular.js"></script>
<script src="app/TodoCtrl.js"></script>
<script src="app/UserDAO.js"></script>
</body>
</html>